:root {
  --bg: #f5f5f5;
  --fg: #212529;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #11262b;
    --fg: #bedfe5;
  }
}
body.dark {
  --bg: #11262b;
  --fg: #bedfe5;
}
body.light {
  --bg: #f5f5f5;
  --fg: #212529;
}

* {
  box-sizing: border-box;
}

body {
  font-family: ui-monospace, monospace;
  font-size: 14px;
  background: var(--bg);
  color: var(--fg);
  margin: 0;
  padding: 24px 24px 0 24px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 24px;
  margin: 0;
}

p {
  margin: 0 0 10px 0;
}

p.description {
  padding: 10px 0;
  font-size: 16px;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid var(--fg);
}

#inputMode,
#view-mode {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

textarea,
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--fg);
  background: var(--bg);
  color: var(--fg);
  font: inherit;
}

textarea {
  flex: 1;
  resize: none;
  min-height: 200px;
}

a.button {
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  background: var(--bg);
  color: var(--fg);
}

.dark a.button:hover {
  color: #e9854c;
}

.light a.button:hover {
  color: #007bff;
}

a.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.footer {
  flex-shrink: 0;
}

.bottom-bar {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 10px;
  min-height: 50px;
}

.bottom-actions {
  display: flex;
  gap: 10px;
  width: 100%;
}

#inputActions.hide {
  display: none;
}

#output {
  display: none;
  gap: 10px;
  align-items: center;
  width: 100%;
}

#output.show {
  display: flex;
}

#output input {
  flex: 1;
  margin: 0;
}

.actions-right {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}

.info {
  padding: 3px;
  color: #000000;
  background-color: #9f9f9f;
  margin: 5px 0;
  font-size: 12px;
}

.error {
  padding: 3px;
  color: #000000;
  background-color: #ff6b6b;
  margin: 5px 0;
  font-size: 12px;
}

.success {
  padding: 3px;
  color: #000000;
  background-color: #6bff88;
  margin: 5px 0;
  font-size: 12px;
}

body.light #lightsOn,
body.dark #lightsOff {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body:not(.light):not(.dark) #lightsOff {
    display: none;
  }
}
@media (prefers-color-scheme: light) {
  body:not(.light):not(.dark) #lightsOn {
    display: none;
  }
}

